* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fdfbf9;
}
.nav-link:hover {
    font-weight: bold;
    color: #f80759 !important;
    border-bottom: #f80759 solid 2.5px;
    transition: 0.2s;
}
.banner-logo {
    margin-top: -8vh;
    border-radius: 100px;
    z-index: 100;
    background-color: white;
}
.a-link {
    text-decoration: none ;
    color: white;
}
.text-colored {
    color: #f80759;
}
.btn-colored {
    background-color: #f80759;
    border: none;
}
.circled-border {
    border: #f80759 solid 1px;
    border-radius: 15px;
    background-color: white;
}
.circled-border:hover {
    color: white;
    background-color: #f80759;
}

footer {
    background-color: #f80759;
}